sudo: false
language: node_js

env: CI=true 

node_js:
  - '11'

cache:
  directories:
    - node_modules

before_script:
  - npm prune

script:
  - gulp test
  
after_success:
  - gulp coverage
  - npm run semantic-release

branches:
  except:
    - /^v\d+\.\d+\.\d+$/

